@model ASP.Net_MVC_Assignment.ViewModels.ClientAccountDetailEditVM

@{

    ViewData["Title"] = "Details";
    string message = Model != null ? Model.Message : string.Empty;
}

<h1 class="mb-4">Account Detail</h1>

@if (message != "")
{
    <span class="alert alert-success">@message</span>
} else{
    <span>@message</span>
}

<hr class="mt-4"/>
<div>
 
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountNum">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
